@font-face {
  font-family: 'DL Sarani';
  src: url('./assets/fonts/DL-Sarani.ttf') format('truetype');
}
@font-face {
  font-family: 'DS MANO';
  src: url('./assets/fonts/DS-MANO.ttf') format('truetype');
}
@font-face {
  font-family: 'Su SATHMINA';
  src: url('./assets/fonts/Su_SATHMINA.ttf') format('truetype');
}
@font-face {
  font-family: '4u Derana';
  src: url('./assets/fonts/4u-Derana_x.ttf') format('truetype');
}
@font-face {
  font-family: '0KDBOLIDDA';
  src: url('./assets/fonts/0KDBOLIDDA_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'DS Araliya';
  src: url('./assets/fonts/Ds-Araliya..ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
